################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PerfTests/v15
/PerfTests/BenchmarkDotNet.Artifacts
/PerfTests/bin
/PerfTests/obj
